/* .upload {
  border: 1px dashed rgb(190, 186, 186);
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  background-color: rgb(235, 233, 233);
}

input[type="file"] {
  display: none;
} */
